# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-client
dist-client.tar.gz
dist
dist-ssr
*.local

server/sandbox
server/server
server/testdata
indexed
server/toolfns/cmd/embed/embed

deploy.sh
jackin.sh
tunnel.sh

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
